.markdown {
    @apply leading-relaxed text-justify;
}

.markdown p,
.markdown ol,
.markdown blockquote {
    @apply my-6;
}

.markdown blockquote {
    @apply border-l-4 border-solid border-blue-500 rounded-sm pl-4;
}

.markdown a {
    @apply underline-offset-2 underline text-primary;
}

.markdown ul {
    @apply pl-4 list-disc list-inside;
}

.markdown ol {
    @apply pl-4 list-decimal list-inside;
}

.markdown img {
    @apply rounded-md;
}

.markdown h2 {
    @apply text-xl my-2 mb-4 leading-snug;
}

.markdown h3 {
    @apply text-lg my-2 mb-4 leading-snug;
}
